@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #757575 #cccccc;
}
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #757575;
    border-radius: 10px;
    border: 0px none #616161;
}
